@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
    url("../fonts/Montserrat-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-MediumItalic.woff") format("woff"),
    url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
    url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Thin.woff") format("woff"),
    url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"),
    local("Montserrat-ExtraLightItalic"),
    url("../fonts/Montserrat-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"),
    url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-BoldItalic.woff") format("woff"),
    url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
    url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-ExtraLight.woff") format("woff"),
    url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"),
    url("../fonts/Montserrat-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Italic.woff") format("woff"),
    url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"),
    url("../fonts/Montserrat-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-LightItalic.woff") format("woff"),
    url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("../fonts/Montserrat-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-BlackItalic.woff") format("woff"),
    url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
    url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
    url("../fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-ThinItalic.woff") format("woff"),
    url("../fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
$custom-black: #2e363e;
$custom-gray: #a6aeb6;
$custom-blue: #5d6afb;
$primary: #3391ff;
$default-scale: 0.985;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: medium;
  overflow-x: hidden;
}
%main-title {
  //h1
  font-style: normal;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: -1px;
  color: $custom-black;
  @include font-size(60px);
}
%block-title {
  //h2
  font-style: normal;
  font-weight: bold;
  line-height: 133%;
  color: $custom-black;
  @include font-size(36px);
}
%subtitle-text {
  //h3
  font-style: normal;
  font-weight: normal;
  line-height: 143%;
  color: $custom-black;
  @include font-size(24px);
}
%sub-block-title {
  //h4
  font-style: normal;
  font-weight: 600;
  line-height: 143%;
  // color: $custom-black;
  @include font-size(18px);
}
%text-big {
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: -0.2px;
  color: $custom-black;
  @include font-size(22px);
}
%text-small {
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: $custom-black;
  @include font-size(14px);
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p,
.p {
  margin: 0;
}
h1,
.h1 {
  @extend %main-title;
}
h2,
.h2 {
  @extend %block-title;
}
h3,
.h3 {
  @extend %subtitle-text;
}
h4,
.h4 {
  @extend %sub-block-title;
}
h5,
.h5 {
  @extend %main-title;
}
h6,
.h6 {
  @extend %main-title;
}
p,
.p {
  @extend %main-title;
}
@keyframes zoom-in-out {
  30% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
a,
button {
  &:hover,
  &:active,
  &:focus {
    animation: zoom-in-out 0.5s;
  }
}
.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  border-radius: 8px;
  color: $white;
  width: max-content;
  padding: 30px 50px;
  @include media-breakpoint-down(sm) {
    width: fit-content;
    padding: 15px 25px;
  }

  &:hover,
  &:active,
  &:focus {
    color: white;
  }
}
.navbar {
  position: fixed;
  width: 100vw;
  z-index: 1000;

  .navbar-brand {
    font-size: medium;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
  }

  .navbar-nav {
    padding: 0 1rem;

    .nav-item {
      width: fit-content;
      overflow: visible;
    }
  }
}
.banner {
  padding: 100px 0;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/img/banner.svg);

  .banner-content {
    width: 60%;
    position: relative;
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &:after {
      position: absolute;
      top: -40%;
      left: -20%;
      content: "";
      width: 120%;
      height: 180%;
      background-image: url("/img/banner-content-bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: -1;
      @include media-breakpoint-down(md) {
        top: 0;
        left: -20%;
        height: 100%;
        width: 100%;
      }
    }

    .title-and-subtitle {
      padding-right: 70px;
      // transform: scale($default-scale);

      h1 {
        @extend %main-title;
        margin-bottom: 40px;
      }

      p {
        @extend %subtitle-text;
        margin-bottom: 40px;
      }
    }

    .banner-btn-wrapper {
      display: flex;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
      }

      .btn {
        white-space: nowrap;
        @include media-breakpoint-down(md) {
          white-space: normal;
        }
      }

      .btn-label {
        max-width: 200px;
        @include media-breakpoint-down(md) {
          margin-top: 20px;
        }

        p {
          padding-left: 20px;
          padding-right: 20px;
          margin: 0;
          @extend %text-small;
        }
      }
    }
  }
}
