@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Light.woff") format("woff"),
    url("fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
    url("fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-MediumItalic.woff") format("woff"),
    url("fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
    url("fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Thin.woff") format("woff"),
    url("fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"),
    local("Montserrat-ExtraLightItalic"),
    url("fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-ExtraLightItalic.woff") format("woff"),
    url("fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-BoldItalic.woff") format("woff"),
    url("fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-SemiBold.woff") format("woff"),
    url("fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
    url("fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-ExtraLight.woff") format("woff"),
    url("fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"),
    url("fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-ExtraBoldItalic.woff") format("woff"),
    url("fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Italic.woff") format("woff"),
    url("fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"),
    url("fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-LightItalic.woff") format("woff"),
    url("fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-BlackItalic.woff") format("woff"),
    url("fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
    url("fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
    url("fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Medium.woff") format("woff"),
    url("fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Black.woff") format("woff"),
    url("fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
    url("fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-ThinItalic.woff") format("woff"),
    url("fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

$custom-black: #2e363e;
$custom-gray: #a6aeb6;
$custom-white: #ffffff;
$main-color-1: #F9EBC8;
$main-color-2: #FEFBE7;
$main-color-3: #DAE5D0;
$main-color-4: #A0BCC2;
$default-scale: 0.985;
// @import "bootstrap-scss/scss/bootstrap.scss";
// Configuration
@import "bootstrap-scss/functions";
@import "bootstrap-scss/variables";
@import "bootstrap-scss/mixins";
@import "bootstrap-scss/utilities";

// Layout & components
@import "bootstrap-scss/root";
@import "bootstrap-scss/reboot";
// @import "bootstrap-scss/type";
// @import "bootstrap-scss/images";
@import "bootstrap-scss/containers";
@import "bootstrap-scss/grid";
// @import "bootstrap-scss/tables";
// @import "bootstrap-scss/forms";
@import "bootstrap-scss/buttons";
@import "bootstrap-scss/transitions";
@import "bootstrap-scss/dropdown";
// @import "bootstrap-scss/button-group";
@import "bootstrap-scss/nav";
@import "bootstrap-scss/navbar";
// @import "bootstrap-scss/card";
// @import "bootstrap-scss/accordion";
// @import "bootstrap-scss/breadcrumb";
// @import "bootstrap-scss/pagination";
// @import "bootstrap-scss/badge";
// @import "bootstrap-scss/alert";
// @import "bootstrap-scss/progress";
// @import "bootstrap-scss/list-group";
@import "bootstrap-scss/close";
// @import "bootstrap-scss/toasts";
@import "bootstrap-scss/modal";
// @import "bootstrap-scss/tooltip";
// @import "bootstrap-scss/popover";
// @import "bootstrap-scss/carousel";
// @import "bootstrap-scss/spinners";
// @import "bootstrap-scss/offcanvas";

// Helpers
// @import "bootstrap-scss/helpers";

// Utilities
@import "bootstrap-scss/utilities/api";

// @import "modules/swiper/swiper.scss";

$slick-font-path: "modules/slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "modules/slick-carousel/slick/" !default;
$slick-arrow-color: black !default;

@import "modules/slick-carousel/slick/slick.scss";
@import "modules/aos/src/sass/aos.scss";
// @import "modules/slick-carousel/slick/slick-theme.scss";


%main-title {
  //h1
  font-style: normal;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: -1px;
  color: $custom-black;
  @include font-size(60px);
}

%block-title {
  //h2
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  color: $custom-black;
  @include font-size(36px);
}

%subtitle-text {
  //h3
  font-style: normal;
  font-weight: normal;
  line-height: 143%;
  color: $custom-black;
  @include font-size(22px);

  @include media-breakpoint-down(md) {
    line-height: 120%;
  }
}

%sub-block-title {
  //h4
  font-style: normal;
  font-weight: normal;
  line-height: 143%;
  // color: $custom-black;
  @include font-size(18px);
}

%text-small {
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: $custom-black;
  @include font-size(16px);

  @include media-breakpoint-down(md) {
    line-height: 120%;
  }
}

html,
body {
  font-family: "Montserrat", sans-serif;
  @extend %text-small;
  overflow-x: hidden;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p,
.p {
  margin: 0;
}

h1,
.h1 {
  @extend %main-title;
}

h2,
.h2 {
  @extend %block-title;
  margin-bottom: 30px;
}

h3,
.h3 {
  @extend %subtitle-text;
}

h4,
.h4 {
  @extend %sub-block-title;
}

h5,
.h5 {
  @extend %sub-block-title;
}

h6,
.h6 {
  @extend %sub-block-title;
}

ul {
  margin: 0;
}

p,
.p,
li,
.li {
  @extend %text-small;
}

li {
  margin-bottom: 7.5px;
}

@keyframes zoom-in-out {
  30% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

a,
button {
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    animation: zoom-in-out 0.5s;
  }
}

.btn {
  font-style: normal;
  font-weight: 500;
  line-height: 152%;
  border: none;
  border-radius: 8px;
  color: $custom-white;
  width: max-content;
  padding: 30px 50px;
  background-color: $main-color-4;
  transition: color 0.5s, background-color 0.5s;

  @include font-size(17px);

  @include media-breakpoint-down(sm) {
    width: fit-content;
    padding: 15px 25px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $custom-white;
    background-color: lighten($color: $main-color-4, $amount: 5%);
    border: none;
    box-shadow: none !important;
  }
}

.inline-social-icon {
  height: 1em;
  width: auto;
  display: inline;
  padding-left: 1ch;
}

.btn-close:focus {
  box-shadow: none;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scheduleModal {
  overflow: hidden;
  padding-right: 0 !important;

  .modal-dialog {
    max-width: 100%;
    margin: 0;

    .modal-content {
      transition: height 0.5s;
      border-radius: 0;

      .modal-header {
        padding: 0.3rem 1rem 0.3rem 2px;
        border-bottom: unset;
      }

      .modal-body {
        padding: 0;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.navbar {
  position: fixed;
  width: 100vw;
  max-width: 100%;
  z-index: 1000;
  background-color: rgba($custom-white, $alpha: .8);
  // background-color: $custom-white;
  color: $custom-black;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 0px 27px -17px rgba(34, 60, 80, 0.29);

  @include media-breakpoint-up(lg){
    .container{
      justify-content: space-around;
    }
    .collapse{
      flex-grow: unset;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-left: 5px;
    padding-right: 5px;
  }

  $buttonWidth: 30px;
  $buttonHeight: 26px;
  $buttonColor: $custom-black;
  $lineThickness: 2px;
  $transitionSpeed: .25s;
  $transitionEasing: ease-in-out;

  .menu-toggle {
    position: relative;
    display: block;
    width: $buttonWidth;
    height: $buttonHeight;
    margin-top: -10px;
    background: transparent;
    border-top: $lineThickness solid;
    border-bottom: $lineThickness solid;
    color: $buttonColor;
    font-size: 0;
    transition: all $transitionSpeed $transitionEasing;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: $lineThickness;

      position: absolute;
      top: 50%;
      left: 50%;

      background: currentColor;

      transform: translate(-50%, -50%);
      transition: transform $transitionSpeed $transitionEasing;
    }

    &.is-active {
      border-color: transparent;

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  a {
    color: $custom-black;

    &:hover,
    &:visited,
    &:focus {
      color: $custom-black;
    }
  }

  .navbar-brand {
    font-size: medium;
  }

  .navbar-toggler>* {
    color: $custom-black;
  }

  .navbar-nav {
    --bs-scroll-height: 40vh;
    padding: 0 1rem;

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .nav-item {
      width: fit-content;
      overflow: visible;
    }
  }
}

.banner {
  padding: 100px 0;
  overflow: visible;
  width: 100vw;
  // max-width: 100%;
  height: 100vh;
  min-height: 850px;
  display: flex;
  align-items: center;

  // background-image: url(img/banner.svg);
  // background-repeat: no-repeat;
  // background-position: right;
  // background-size: contain;
  @include media-breakpoint-down(md) {
    min-height: 600px;
  }

  .banner-content {
    // width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include media-breakpoint-down(md) {
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
    }

    &:after {
      position: absolute;
      top: -100px;
      // bottom: -100px;
      bottom: 0;
      left: -75px;
      content: "";
      width: 120%;
      height: 130%;
      background-image: url("img/banner-content-bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: -1;

      @include media-breakpoint-down(md) {
        // top: 0;
        left: -35px;
        // height: 100%;
        // width: 100%;
      }
    }

    .title-and-subtitle {
      @include media-breakpoint-up(md) {
        padding-right: 70px;
      }

      @include media-breakpoint-down(md) {
        text-align: center;
      }

      h1 {
        @extend %main-title;
        margin-bottom: 40px;
      }

      p {
        @extend %subtitle-text;
        margin-bottom: 40px;
      }
    }

    .banner-btn-wrapper {
      display: flex;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
      }

      .btn {
        white-space: nowrap;

        @include media-breakpoint-down(md) {
          white-space: normal;
        }
      }

      .btn-label {

        // max-width: 200px;
        @include media-breakpoint-down(md) {
          margin-top: 20px;
        }

        p {
          padding-left: 20px;
          padding-right: 20px;
          margin: 0;
          @extend %text-small;

          @include media-breakpoint-down(md) {
            text-align: center;
          }
        }
      }
    }
  }

  .banner-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}

main>*:not(.banner):not(.modal) {
  padding-top: 90px;
  padding-bottom: 90px;

  @media (max-height: 950px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.about-me {
  $blob-overflow: 155px;

  padding-top: $blob-overflow + 15px !important;
  padding-bottom: $blob-overflow + 20px !important;
  margin-top: 15px;
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    padding-top: 5px !important;
    padding-bottom: 30px !important;
    margin-top: unset;
    margin-bottom: unset;
  }

  @include media-breakpoint-up(md) {
    * {
      color: $custom-white;
    }
  }

  .about-me-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 70%;
      width: auto;
      max-width: 100%;

      @include media-breakpoint-up(md) {
        min-height: 340px;
      }
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 130%;
    //   height: 130%;

    //   @include media-breakpoint-down(md) {
    //     top: 0;
    //   }

    //   background-image: url("img/about-me-photo-bg.svg");
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-size: 100% 100%;
    //   z-index: -1;
    // }
  }

  .about-me-text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    // overflow: visible;
    * {
      max-width: 400px;
    }

    .about-me-text-subtitle {
      margin-bottom: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -$blob-overflow;
      bottom: -$blob-overflow;
      width: 500%;
      background-image: url("img/about-me-text-bg.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: -1;

      @include media-breakpoint-down(md) {
        background-image: none;
      }
    }
  }
}

.featurettes {
  background: #F9EBC8 url("img/featurettes-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .featurettes-title {
    text-align: center;
  }

  .featurettes-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);

    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;

    }

    .featurettes-item {
      background-color: rgba($custom-white, 0.6);
      border-radius: 15px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      text-align: center;
      cursor: pointer;
      height: fit-content;

      @include media-breakpoint-down(lg) {
        height: 100%;
      }

      // transition: height 1s;

      .featurette-img-wrapper {
        height: 170px;
        width: 100%;
        @extend %flex-center;

        img {
          height: auto;
          width: 35%;
          max-width: 115px;
          opacity: 0.7;
        }
      }

      .featurette-title {
        min-height: 110px;
        @extend %flex-center;
        flex-direction: column;
        margin-bottom: 10px;
      }

      .featurette-arrow-wrapper {
        transition: transform 0.5s;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &.is-active .featurette-arrow-wrapper {
        margin-top: 20px;
        transform: rotate(180deg);
      }

      .featurette-text {

        @include media-breakpoint-up(lg) {
          display: none;
          opacity: 0;
          transition: opacity 0.5s;
        }
      }

      &.is-active .featurette-text {
        opacity: 1;
      }
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  $buttons-size-desktop: 60px;
  $buttons-size-mobile: 40px;
  $buttons-padding: 20px;

  .title {
    @extend %flex-center;
    text-align: center;
  }

  .testimonials-wrapper.slick-slider {
    // width: 60%;

    // margin-left: 20%;
    // margin-right: 20%;
    // min-height: 100%;
    // display: flex;
    width: 70vw;

    @include media-breakpoint-down(md) {
      width: calc(100% - 10px);
    }

    margin-left: auto;
    margin-right: auto;
    // position: unset;
    // overflow: visible;

    .slick-list {
      overflow: visible;
      margin-bottom: $buttons-size-desktop + $buttons-padding;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }

      .slick-track {
        display: flex;

        @include media-breakpoint-down(md) {
          align-items: center;
        }

        .slick-slide {
          transform: scale(0.8);
          opacity: 0.5;
          transition: transform 0.3s, opacity 0.3s;
          transition-delay: 500ms;
          height: inherit;
          padding: 0 5px;

          @include media-breakpoint-up(md) {
            &>* {
              height: 100%;
            }
          }

          .testimonial-item {
            display: flex !important;
            align-items: center;
            position: relative;
            margin-bottom: 50px;

            height: 100%;
            border: 1px solid $main-color-4;
            border-radius: 5px;
            padding: 30px;

            @include media-breakpoint-down(md) {
              width: calc(100% - 20px);
              padding: 15px;
            }


            .left {
              position: relative;

              // &.show-more {
              //   mask-image: linear-gradient(to top, transparent 10%, black 50%);
              //   height: 250px;
              //   overflow: hidden;
              // }

              .quotes {
                margin-bottom: 30px;

                @include media-breakpoint-down(md) {
                  margin-bottom: 15px;
                }
              }

              .testimonial-title * {
                margin-bottom: 20px;
              }

              .testimonial-text * {
                margin-bottom: 10px;
              }
            }

            .right {
              @extend %flex-center;
              flex-direction: column;

              @include media-breakpoint-down(md) {
                padding-top: 15px;
                flex-direction: row;
              }

              .image-wrapper {
                @extend %flex-center;

                @include media-breakpoint-down(md) {
                  width: 50%;
                }

                @include media-breakpoint-down(sm) {
                  width: 30%;
                }

                img {
                  width: 70%;

                  @include media-breakpoint-down(md) {
                    width: 150px;
                    max-width: 95%;
                  }

                  @include media-breakpoint-down(sm) {
                    width: 100px;
                  }

                  height: auto;
                }
              }

              .client-bio {
                @extend %flex-center;
                flex-direction: column;
                margin-top: 25px;

                @include media-breakpoint-down(md) {
                  width: 50%;
                  margin-top: 0;
                  padding-left: 5px;
                }

                @include media-breakpoint-down(sm) {
                  width: 70%;
                }

                span.contact {
                  @include font-size(15px);
                  color: $main-color-4;
                  display: flex;
                  align-items: center;
                }

                span.city {
                  @include font-size(16px);
                  color: $custom-gray;
                }
              }
            }
          }
        }

        .slick-slide.slick-active {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  .prev {
    left: calc(50% - 100px);
    transform: translate(-50%);
    background: transparent;
    background-image: url('img/button-prev.svg');
  }

  .next {
    right: calc(50% - 100px);
    transform: translate(50%);
    background: transparent;
    background-image: url('img/button-next.svg');
  }

  .prev,
  .next {
    position: absolute;
    color: red;
    top: unset;
    bottom: -$buttons-size-desktop - calc($buttons-padding/2);
    width: $buttons-size-desktop;
    height: $buttons-size-desktop;
    background-size: contain;

    @include media-breakpoint-down(md) {
      bottom: -$buttons-size-mobile - calc($buttons-padding/2);
      width: $buttons-size-mobile;
      height: $buttons-size-mobile;
    }

    &:hover,
    &:active,
    &:focus {
      animation: none;
    }
  }
}

.payment {
  @extend %flex-center;
  background-image: url('img/payment-blob-bg.svg');
  background-repeat: no-repeat;
  background-position: 52%;
  background-size: 200% 100%;

  .container {
    @extend %flex-center;
    flex-direction: column;
  }

  .title-wrapper {
    @extend %flex-center;
    flex-direction: column;
    width: fit-content;
  }

  .content-wrapper {
    @extend %flex-center;
    flex-direction: column;

    .text-wrapper {
      text-align: center;

      @include media-breakpoint-up(md) {
        max-width: 45vw;
        margin-bottom: 15px;
      }

      margin-bottom: 10px;

      p {
        font-size: 1.3em;
      }

      h3 {
        // font-weight: 600;
      }

      h4 {
        font-weight: 500;
      }

      h5 {
        font-weight: 500;
        margin-bottom: 10px;
      }

      h6 {
        color: $custom-gray;
      }

      ul {
        text-align: left;
      }

      &.grey>* {
        color: $custom-gray;
      }
    }

    .image-wrapper {
      margin-top: 5px;
      margin-bottom: 5px;

      img {
        max-width: 100%;
        width: 220px;
        height: auto;
      }
    }

    .image-wrapper+.text-wrapper {
      margin-top: 5px;
      margin-bottom: 50px;
    }

    // .button-wrapper {
    //   margin-top: 10px;
    //   margin-bottom: 10px;
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   width: fit-content;
    //   grid-gap: 15px;

    //   button{
    //     justify-self: right;
    //   }
    //   .text-wrapper {
    //     max-width: 350px;
    //     width: fit-content;
    //     text-align: left;
    //     align-self: center;
    //     margin: 0;

    //     // margin-top: 5px;
    //     // display: table-caption;
    //     // caption-side: right;
    //   }
    // }
  }
}

.contacts {
  @extend %flex-center;
  flex-direction: column;

  .container {
    @extend %flex-center;
    flex-direction: column;


    .title-wrapper {
      @extend %flex-center;
      flex-direction: column;

      text-align: center;

      h2 {
        margin-bottom: 5px;
      }
    }

    .content-wrapper {
      position: relative;
      @extend %flex-center;
      flex-direction: column;
      margin-top: 30px;
      border: 1px solid $main-color-4;
      border-radius: 5px;
      padding: 90px 30px;
      min-width: 70%;
      z-index: 1;

      * {
        z-index: 3;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 50%;
        height: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        opacity: 0.7;
      }

      &::before {
        right: -50px;
        top: -40px;
        background-image: url('img/blob-1.svg');
        background-position: top right;
      }

      &::after {
        left: -50px;
        bottom: -40px;
        background-image: url('img/blob-2.svg');
        background-position: bottom left;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 45px 15px;
      }

      .button-wrapper {
        display: table;

        .text-wrapper {
          display: table-caption;
          caption-side: top;
          text-align: center;
          margin-bottom: 10px;
        }
      }

      .contacts-wrapper {
        margin-top: 60px;
        @extend %flex-center;
        flex-direction: column;

        .text-wrapper {
          @extend %flex-center;
          text-align: center;
        }

        .icons-wrapper {
          margin-top: 15px;
          display: grid;
          grid-gap: 25px;
          grid-template-columns: repeat(3, 1fr);
          width: fit-content;

          &>* {
            align-self: center;
            justify-self: center;
          }

          // &>*:first-child {
          //   justify-self: right;
          // }

          // &>*:last-child {
          //   justify-self: left;
          // }

          @include media-breakpoint-down(sm) {
            margin-top: 25px;


            // &>*:nth-child(odd) {
            //   justify-self: right;
            // }

            // &>*:nth-child(even) {
            //   justify-self: left;
            // }

            // &>*:last-child {
            //   grid-column: 1/3;
            //   justify-self: center;
            // }
          }

          .image-wrapper {
            overflow: hidden;
            border-radius: 10px;
            width: 45px;
            height: 45px;

            @include media-breakpoint-down(md) {
              width: 40px;
              height: 40px;
            }

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

footer {
  margin-top: 30px;
  // background: #F9EBC8 url("img/featurettes-bg.svg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  background-color: $main-color-2;
  text-align: center;
  

  a {
    text-decoration: none;
  }
}